<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" type="text/css" href="/css/solarized-dark.css"> 
			<!-- Google Fonts embed -->
			<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400&display=swap" rel="stylesheet">
			<link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon">
			<link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
					<li><a href="/blog">Blog</a></li>
					<li><a href="/writeups">Writeups</a></li>
					<li><a href="/resources">Resources</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://github.com/khloroshue">github.com/khloroshue</a></li>
				</ul>
				<script src="https://www.hackthebox.eu/badge/107969"></script>
			</footer>
		</body>
	</html>
